.create_event {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow-y: visible;
  padding: 3% 5% 3% 5%;
  height: fit-content;
  /* background-color: red; */
}
.new_event_section {
  padding: 4% 5%;
  background: #035f9822;
}
.upload {
  width: 5%;
}
.upload_picture {
  width: 100%;
  height: 15rem;
  background: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.event_creation label {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #133c55;
}
.event_creation label input {
  margin: 0;
  height: 2rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
  font-family: "Questrial", sans-serif;
  background: #f8f9fa;
  border-bottom: 0;
}
.event_creation label input::-webkit-input-placeholder, .date_detail::-webkit-input-placeholder {
  /* Edge */
  color: #8096b2;
}

.event_creation label input:-ms-input-placeholder, .date_detail::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8096b2;
}

.event_creation label input::placeholder, .date_detail::placeholder {
  color: #8096b2;
}
.plus {
  width: 8%;
  height: auto;
}
.inside_label,
.date_detail {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #f8f9fa;
  align-items: center;
  height: 3rem;
  justify-content: space-between;
  padding-right: 0.8%;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
input::-ms-value{
  color: red;
}
.name_input,
.event-organizer {
  width: 100%;
  border: none;
  box-shadow: none;
  height: 100% !important;
  border-radius: 0;
  box-sizing: border-box;
  padding: 2%;
}
.date_detail {
  padding: 2% 4%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  margin: 0.3rem 0 0 0;
  border: none;
}
.start_date_time {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-top: 0.7rem;
}
.date_time {
  width: 49%;
}
.date_time2{
  width: 100%;
}
.date_time2 select {
  border: none;
  color: #3d5a80;
  font-size: 0.8rem;
  padding: .5rem 1rem;
}

.pick_date {
  width: 7%;
}
.date_info {
  display: flex;
  flex-direction: column;
  color: #133c55;
}
.date_info1 {
  font-size: 0.7rem;
}
.date_info2 {
  font-size: 0.9rem;
  color: #133c55;
}
.date_button {
  border-radius: 0.25rem;
  background: #e9ecef;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  box-sizing: border-box;
}
.dropdown_label {
  padding: 2% 4%;
  box-sizing: border-box;
  width: 100%!important;
  cursor: pointer;
}
.date_time_text {
  margin: 2% 0 1% 0;
}
.date_time_head,
option {
  color: #133c55;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 1rem 0;
}
.date_time_txt {
  font-weight: 600;
  color: #133c55;
  border: none;
}
.date_time_txt:hover {
  font-weight: 700;
  border: none;
}
.down {
  width: 80%;
}
.end_date_time {
  display: flex;
  flex-direction: row;
}
textarea {
  border: none;
  height: 15rem;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  outline: none;
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
  font-family: "Questrial", sans-serif;
}
.publish_event {
  padding: .7rem 2rem;
  width: fit-content;
  font-size: 0.8rem;
  text-align: center;
  background: #f8f9fa;
  color: #133c55;
  font-weight: 700;
  cursor: pointer;
}

.category {
  padding: 2% 4%;
  border: none;
}
input[type='file'] {
    width: 10px;
    overflow:hidden;
}
input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
}
.upload_picture{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.upload_icon{
    width: 3rem;
    cursor: pointer;
}
.tag_div{
  display: flex;
  flex-direction: column;
}
.tags{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0 2rem 0;
}
.tag_header{
  padding-left: 0;
  font-size: .9rem;
}
.each_tag{
  padding: .5rem 1rem;
  border-radius: 50px;
  font-size: .8rem;
  background: #3d5a802d;
  width: fit-content;
  cursor: pointer;
  transition: .05s;
}
.each_tag:hover{
  background: #3d5a80;
  color: #f8f9fa;
}
.pick{
  background: #133c55!important;
  color: #f8f9fa!important;
}
.pick:hover{
  background: #3d5a80!important;
  color: #f8f9fa!important;
}
@media only screen and (max-width: 943px){
    .event_creation label input, .each_tag, .date_time2 select, .date_info1, textarea, .publish_event, .name_input, .category, .date_detail{
        font-size: .7rem!important;
    }
    .date_info1{
        font-size: .6rem;
    }
    .date_info2, .date_time_head, option, .event_creation label, .tag_header{
        font-size: .8rem;
    }
    .inside_label, .date_detail{
        height: 2.5rem;
    }
    .event-organizer, .name_input{
        height: 2.5rem!important;
    }
    .date_time_txt{
        font-size: .9rem;
    }
    .publish_event{
        padding: .5rem 2rem;
    }
    .upload_picture, textarea{
        height: 13rem;
    }
    .upload_icon{
        width: 2.5rem;
    }
    textarea{
      margin-bottom: .8rem;
    }
    .tags{
      padding: .5rem 0 2rem 0;
      gap: .5rem;
    }
}
@media only screen and (max-width: 568px){
    .event_creation label input, .each_tag, .date_time2 select, .date_info1, textarea, .publish_event, .name_input, .category, .date_detail{
        font-size: .6rem!important;
    }
    .date_info1{
        font-size: .5rem;
    }
    .date_info2, .date_time_head, option, .event_creation label, .tag_header{
        font-size: .7rem;
    }
    .inside_label, .date_detail{
        height: 2.3rem;
    }
    .event-organizer, .name_input{
        height: 2.3rem!important;
    }
    .date_time_txt{
        font-size: .8rem;
    }
    .publish_event{
        padding: .8rem 2rem;
    }
    .upload_picture, textarea{
        height: 11rem;
    }
    .upload_icon{
        width: 2rem;
    }
    .create_event{
        padding: 3% 2% 3% 5%;
    }
    .tags{
      gap: .5rem;
    }
    .each_tag{
      padding: .3rem .8rem;
    }
}
@media only screen and (max-width: 376px){
    .event_creation label input, .each_tag, .date_time2 select, .date_info1, textarea, .publish_event, .name_input, .category, .date_detail{
        font-size: .5rem!important;
    }
    .date_info1{
        font-size: .4rem;
    }
    .date_info2, .date_time_head, option, .event_creation label, .tag_header{
        font-size: .6rem;
    }
    .inside_label, .date_detail{
        height: 2rem;
    }
    .event-organizer, .name_input{
        height: 2rem!important;
    }
    .date_time_txt{
        font-size: .7rem;
        margin-bottom: 0;
    }
    .publish_event{
        padding: .5rem 2rem;
    }
    .upload_picture, textarea{
        height: 7rem;
    }
    .upload_icon{
        width: 1.5rem;
    }
    .start_date_time{
        padding-top: 0;
    }
    body{
        overflow: visible;
    }
}