.box{
  min-width: 100%;
  position: absolute;
  display: flex;
  overflow: hidden;
}
.navbar{
  border-radius: 0rem .5rem .5rem 0rem;
  background: #133c55;
  height: 100%;
  width: 18%;
  padding: 3% 0;
  box-sizing: border-box;
  position: fixed;
}
.EventPageBox{
  min-width: 82%;
  margin-left: 18%
}
.EventPage{
padding-left: ;
}
.EventPage h2, h4 {
  padding-left: 20px ;
}
.EventPage h2 {
  font-size: 35px;
}
.EventPage h4 {
  font-family: Gilroy;
  font-size: 20px;
}
.fleidImg {
  min-width: 100%;
  margin-left: -.5% ;
}
.In-person_event {
  max-width: 100%;
}
.Details {
  color: var(--new-text-color, #133c55);
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  background: #eef6fb;
  min-width: 60%;
  height: 610px;
  padding: 20px 0 20px 20px;
}
.Details span {
  display: flex;
  align-items: center;
  gap: 17px;
}
.Tags p {
  display: inline-flex;
  padding: 8px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: #fff;
}
.About {
  border-radius: 10px;
  background: #eef6fb;
  min-width: 679px;
  height: 363px;
  padding: 20px 0 20px 20px;
  margin-top: 30px;
}
.About p {
  min-width: 632px;
  height: 111px;
  color: var(--new-text-color, #133c55);
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.About span {
  display: inline-flex;
  padding: 8px 20px 8px 10px;
  align-items: flex-start;
  gap: 10px;
  align-items: center;
}
.Tickets {
  border-radius: 10px;
  background: #eef6fb;
  min-width: 30%;
  height: 610px;
  padding: 20px 0 20px 20px;
}
.Tickets h5 {
  color: var(--new-text-color, #133c55);
  font-family: Gilroy;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  border-radius: 10px;
  background: #deeef7;
  padding: 8px 20px;
}
.Tickets button {
  display: flex;
  min-width: 40%;
  padding: 8px 20px 8px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border-style: none;
  background: #deeef7;
  margin-top: 5px;
}
.Quantities {
  min-width: 80%;
  height: 188px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #deeef7;
  padding-left: 20px;
  padding-top: 10px;
}
.Quantities p {
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.Quantities input {
  border-style: none;
  border-radius: 10px;
}
.In-person_event {
  display: flex;
  gap: 20px;
}

@media screen and (min-width: 250px) and (max-width: 878px) {
  .box{
    overflow: hidden;
    max-width: 100%;
  }
  .EventPageBox{
    min-width: 100%;
  }
  
  .Details{
    overflow-wrap: break-word;
    height: auto;
  }
  .In-person_event {
    overflow: hidden;
    display: block;
    min-width: 100%;
  }
  .Tickets{
    min-width: 100%;
    margin-top: 20px;
  }
  /* .fleidImg{
    height: 150px;
  } */
}
