.profile{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow-y: visible;
}
.profile_section{
    width: 82%;
}
.profile_section1{
    display: grid;
    grid-template-columns: 8% 7rem auto;
    grid-template-rows: 10rem 4rem 3rem;
}
.back_picture{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 100%;
    width: 100%;
}
.profile_picture_div{
    border: 2px solid #133c55;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 100%;
    overflow: hidden;

}
.profile_picture{
    height: 100%;
    width: 100%;
}
.profile_section2{
    padding: 1% 8%;
    display: flex;
    flex-direction: column;
}
.person_name{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
}
.user_name{
    color: #A8ACAE;
    font-size: .8rem;
    padding: 0;
}
.link_and_join{
    display: flex;
    flex-direction: row;
    gap: .9rem;
    padding: .5rem 0;
}
.website, .join_date, .edit_link{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: .5rem;
    font-size: .8rem;
    padding: 0;
}
.website, .edit_link, .socials{
    color: #3770A9;
}
.website:hover{
    text-decoration: underline;
    cursor: pointer;
}
.socials{
    width: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    padding: .5rem 0 .6rem 0;
}
.socials svg{
    cursor: pointer;
}
.date_icon, .link_icon, .pencil_icon{
    font-size: 1rem;
}
.join_date{
    color: var(--inside-text, #81868A);
}
.bio{
    font-size: .9rem;
}
.edit_link:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 1043px){
    .socials{
        width: 12%;
        padding: .5rem 0 .8rem 0;
    }
}
@media only screen and (max-width: 943px){
    .profile_section1{
        grid-template-columns: 8% 5.5rem auto;
        grid-template-rows: 8rem 3.5rem 2rem;
    }
    .person_name{
        font-size: 1.6rem;
    }
    .website, .join_date, .edit_link, .user_name{
        font-size: .7rem;
    }
    .date_icon, .link_icon, .pencil_icon, .socials{
        font-size: .9rem;
    }
    .bio{
        font-size: .8rem;
    }
}

@media only screen and (max-width: 768px){
    .profile_section{
        width: 90%;
    }
    .profile_section1{
        grid-template-columns: 6% 5rem auto;
        grid-template-rows: 7rem 3rem 2rem;
    }
}

@media only screen and (max-width: 568px){
    .person_name{
        font-size: 1.4rem;
    }
    .website, .join_date, .edit_link, .user_name{
        font-size: .6rem;
    }
    .date_icon, .link_icon, .pencil_icon, .socials{
        font-size: .8rem;
    }
    .bio{
        font-size: .7rem;
    }
    .socials{
        width: 15%;
    }
}
@media only screen and (max-width: 468px){
    .profile_section1{
        grid-template-columns: 8% 4rem auto;
        grid-template-rows: 5rem 2.5rem 1.5rem;
    }
    .socials{
        width: 20%;
        padding: .7rem 0 .8rem 0;
    }
    .website, .join_date, .edit_link{
        gap: .3rem;
    }
    .link_and_join{
        display: flex;
        flex-direction: column-reverse;
        gap: .2rem;
        padding: .5rem 0;
    }
}
@media only screen and (max-width: 376px){
    .person_name{
        font-size: 1.2rem;
    }
    .website, .join_date, .edit_link, .user_name{
        font-size: .5rem;
    }
    .date_icon, .link_icon, .pencil_icon, .socials{
        font-size: .7rem;
    }
    .bio{
        font-size: .6rem;
    }
}