.picture_div{
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 3rem 8rem;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
    position: relative;
}
.event_img{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: auto;
    width: 100%;
}
.heart_icon{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #f9f5f5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 468px){
    .picture_div{
      grid-template-columns: 80% 20%;
      grid-template-rows: 3rem 5rem;
  }
}